{% extends "form_div_layout.html.twig" %}

{% block form_row %}
{% spaceless %}
    <div class="input-group cleared">
        {{ form_label(form, null, {'label_attr' : {'class': 'label-common'}}) }}
        {{ form_errors(form) }}

        {% if not attr or not attr.class|default(null) %}
            {% set attr = attr|default({})|merge({
                'class': 'input-field',
                'style': 'max-width: 320px;'
            }) %}
        {% endif %}
        {{ form_widget(form, { 'attr': attr }) }}
    </div>
{% endspaceless %}
{% endblock form_row %}