{% extends "form_div_layout.html.twig" %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <div class="form_error_message">
                    <span style="color: #ff0000;">{{ error.message }}</span>
                </div>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}